/*Colores*/
/*Tipos de letra*/
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chonburi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap");
@import url("https://fonts.cdnfonts.com/css/reigo");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chonburi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap");
@import url("https://fonts.cdnfonts.com/css/reigo");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chonburi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap");
@import url("https://fonts.cdnfonts.com/css/reigo");
.l-m {
  color: #9b57cd;
}

.l-v {
  color: #a8be5b;
}

#loader {
  background-color: #d8d8d8;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 100000;
}
#loader .loader__element {
  border-radius: 100%;
  border: 5px solid #5c3168;
  margin: 10px;
}
#loader .loader__element:nth-child(1) {
  animation: preloader 0.6s ease-in-out alternate infinite;
}
#loader .loader__element:nth-child(2) {
  animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
}
#loader .loader__element:nth-child(3) {
  animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
}

html {
  --color-white: #ffffff;
  --color-black: #191919;
  --color-bg: linear-gradient(120deg, #723185 0%, #723185 100%);
  --color-a: linear-gradient(45deg, #7f0019 0%, #7f0019 100%);
  box-sizing: border-box;
}

.c-cursor {
  --size: 15px;
  position: fixed;
  width: var(--size);
  height: var(--size);
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  transform: translate(var(--cursor-x, -100px), var(--cursor-y, -100px)) translateZ(0);
  pointer-events: none;
  transition: none;
  z-index: 15000;
  will-change: transform;
}
.is-debug .c-cursor {
  transition: all 0.2s ease-in-out;
}
.c-cursor__inner {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: var(--color-bg);
  border: 1px solid var(--color-white);
  transition: all 0.15s ease-in-out;
  opacity: 1;
  transform: scale(1) translateZ(0);
}
.c-cursor.is-clicked .c-cursor__inner {
  opacity: 0.5;
}
.c-cursor.is-hidden .c-cursor__inner {
  opacity: 0;
}
.c-cursor.is-link-hovered .c-cursor__inner {
  transform: scale(0.75) translateZ(0);
  background-image: var(--color-a);
}

.has-custom-cursor,
.has-custom-cursor * {
  cursor: none !important;
}

/*Colores*/
/*Tipos de letra*/
.l-m {
  color: #9b57cd;
}

.l-v {
  color: #a8be5b;
}

/*Colores*/
/*Tipos de letra*/
.l-m {
  color: #9b57cd;
}

.l-v {
  color: #a8be5b;
}

#flexed * {
  transition: all 0.5s;
}
#flexed .boton-modal {
  width: 100vw;
  height: 0vh;
  display: flex;
  position: fixed;
  justify-content: end;
}
#flexed .boton-modal div {
  width: 6.5rem;
  height: 2rem;
  margin: 1.5%;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  z-index: 5000;
}
#flexed .boton-modal div label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5c3168;
}
#flexed .boton-modal div label ion-icon {
  font-size: 350%;
}
#flexed .boton-modal div label p {
  font-size: 110%;
}
#flexed #nav {
  z-index: 999;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
#flexed #nav #slogan {
  padding: 0;
  background-color: #5c3168;
  display: flex;
  justify-content: center;
}
#flexed #nav #slogan p {
  padding: 0.5%;
  margin: 0%;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-size: 70%;
  letter-spacing: 0.3em;
}
#flexed #nav #navbarNav {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}
#flexed #nav #navbarNav #barra {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5%;
  background-color: #ffffff;
}
#flexed #nav #navbarNav #barra ul {
  padding: 0;
}
#flexed #nav #navbarNav #barra ul li {
  padding: 0;
  list-style: none;
}
#flexed #nav #navbarNav #barra ul li a {
  text-decoration: none;
  color: #5c3168;
  font-family: "Quicksand", sans-serif;
  font-size: 100%;
  font-weight: 300;
}
#flexed #nav #slogan.abajo {
  background-color: rgba(0, 0, 0, 0.685);
}
#flexed #nav #slogan.abajo p {
  padding: 0;
  margin: 0;
  font-size: 0;
}

@media screen and (max-width: 500px) {
  #flexed #nav #slogan p {
    font-size: 60%;
  }
  #flexed #nav #navbarNav #barra {
    width: 95%;
  }
  #flexed #nav #navbarNav #barra ul li a {
    font-size: 70%;
    font-weight: 550;
  }
  #flexed #nav #slogan.abajo {
    margin-bottom: 0;
  }
}
#btn-modal {
  display: none;
  z-index: -500;
}

#btn-modal:checked ~ .modals {
  display: flex;
}

.modals {
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.685);
}
.modals .btn-close {
  display: flex;
  position: fixed;
  justify-content: start;
  align-items: end;
}
.modals .btn-close div {
  width: 8.5rem;
  height: 4rem;
  margin: 1.5% 0.6%;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.modals .btn-close div label {
  width: 100%;
  height: 100%;
  font-size: 350%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5c3168;
  font-family: "Quicksand", sans-serif;
}
.modals div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modals div div {
  width: 30%;
  height: 50%;
  border-radius: 1rem;
  background-color: #ffffff;
}
.modals div div #info-modal {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modals div div #info-modal h2 {
  margin: 3%;
  color: #5c3168;
  font-family: "Quicksand", sans-serif;
  font-size: 150%;
}
.modals div div #info-modal ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 1%;
  padding: 0;
}
.modals div div #info-modal ul li {
  display: inline;
  color: #5c3168;
  font-family: "Quicksand", sans-serif;
  font-size: 110%;
}
.modals div div #info-modal #form {
  width: 100%;
  height: 100%;
  z-index: 1001;
}

@media screen and (max-width: 500px) {
  .modals div div {
    width: 90%;
    height: 50%;
  }
}
* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #d8d8d8;
}

body {
  overflow-x: hidden;
  background-color: #d8d8d8;
}
body .pags {
  width: 100vw;
  height: 100vh;
  display: flex;
}
body #pag1 {
  display: flex;
}
body #pag1 main {
  width: 100%;
  height: 100%;
  background-image: url(../img/2.1.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  font-size: 120%;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  flex-direction: column;
  display: flex;
  justify-content: center;
  justify-items: center;
  color: #7f0019;
  text-align: center;
}
body #pag1 main h1, body #pag1 main h2 {
  margin: 0;
  padding: 0.5%;
}
body #pag2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #pag2 #boxmapicon {
  width: 4rem;
  height: 4rem;
  margin: 1%;
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
body #pag2 #boxmapicon a {
  width: 90%;
  height: 90%;
  display: flex;
  font-size: 100%;
  color: #5c3168;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
body #pag2 #boxmapicon a ion-icon {
  width: 100%;
  height: 100%;
}
body #pag2 #boxmap {
  width: 30%;
  height: 55%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 2rem;
  margin: 0;
  padding: 0;
}
body #pag2 #boxmap div {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  justify-items: center;
}
body #pag2 #boxmap iframe {
  width: 95%;
  height: 95%;
  border-radius: 1.5rem;
}
body #pag3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #pag3 #contador {
  width: 80vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #pag3 #contador .simply-section {
  width: 20%;
  height: 100%;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 1rem;
}
body #pag3 #contador .simply-section div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #pag3 #contador .simply-section div .simply-amount {
  font-size: 150%;
  margin: 1.5%;
  color: #7f0019;
  font-family: "Arima", system-ui;
  font-weight: 550;
}
body #pag3 #contador .simply-section div .simply-word {
  font-size: 150%;
  margin: 1.5%;
  color: #7f0019;
  font-family: "Arima", system-ui;
  font-weight: 550;
}
body #pag3 #fecha {
  width: 9vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem;
  margin-top: 3%;
}
body #pag3 #fecha a {
  text-decoration: none;
  font-size: 130%;
  color: #7f0019;
  font-family: "Arima", system-ui;
  font-weight: 550;
}
body #pag4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #pag4 #paleta {
  width: 23rem;
  height: 23rem;
  background-color: #ffffff;
  background-image: url(../img/Colorimetria.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  border-radius: 100%;
  padding: 1%;
  margin: 1%;
}
body #pag4 #estilo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 15rem;
  height: 5rem;
  border-radius: 1rem;
  margin: 1%;
}
body #pag4 #estilo ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
body #pag4 #estilo ul li {
  margin: 10%;
  color: #7f0019;
  font-family: "Arima", system-ui;
}
body #pag4 #estilo ul li a {
  color: #7f0019;
  font-family: "Arima", system-ui;
  text-decoration: none;
}
body #pag5 {
  display: flex;
  justify-content: center;
  align-items: center;
}
body #pag5 #carrusel {
  width: 97%;
  height: 80%;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
body #database {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #database #reload {
  width: 2rem;
  height: 2rem;
  margin-top: 1%;
  border-radius: 100%;
  background-color: #5c3168;
}
body #database #reload a {
  width: 90%;
  height: 90%;
  font-size: 200%;
  color: #ffffff;
}
body #database #apk {
  width: 2rem;
  height: 2rem;
  margin-top: 1%;
  border-radius: 100%;
  background-color: #5c3168;
}
body #database #apk a {
  width: 90%;
  height: 90%;
  font-size: 200%;
  color: #ffffff;
}
body #database #base {
  width: 50rem;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5c3168;
  border-radius: 2rem;
}
body #database #base #data {
  width: 95%;
  height: 95%;
  border-radius: 2rem;
}

@media screen and (max-width: 500px) {
  body #pag1 {
    display: flex;
  }
  body #pag1 main {
    background-image: url(../img/2.png);
    background-size: 100%;
    font-size: 80%;
  }
  body #pag2 #boxmapicon {
    width: 3rem;
    height: 3rem;
    margin: 3%;
  }
  body #pag2 #boxmap {
    width: 80%;
    height: 35%;
  }
  body #pag3 #contador {
    width: 95vw;
    height: 10vh;
  }
  body #pag3 #contador .simply-section {
    width: 25%;
    height: 100%;
    margin: 1%;
  }
  body #pag3 #contador .simply-section div .simply-amount {
    font-size: 100%;
    margin: 1%;
  }
  body #pag3 #contador .simply-section div .simply-word {
    font-size: 100%;
    margin: 1%;
  }
  body #pag3 #fecha {
    width: 20vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 1rem;
    margin-top: 5%;
  }
  body #pag3 #fecha a {
    font-size: 80%;
    color: #7f0019;
    font-family: "Arima", system-ui;
    font-weight: 550;
  }
  body #pag4 #paleta {
    width: 17rem;
    height: 17rem;
  }
  body #pag4 #estilo {
    width: 13rem;
    height: 4rem;
  }
  body #pag4 #estilo ul li {
    margin: 5%;
  }
  body #pag5 #carrusel {
    width: 95%;
    height: 60%;
  }
  body #database #apk {
    width: 2rem;
    height: 2rem;
    margin-top: 2%;
  }
  body #database #apk a {
    font-size: 200%;
  }
  body #database #base {
    width: 90%;
    height: 60%;
    border-radius: 1rem;
  }
  body #database #base #data {
    border-radius: 1rem;
  }
}/*# sourceMappingURL=style.css.map */