/*Colores*/
/*Tipos de letra*/
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chonburi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap");
@import url("https://fonts.cdnfonts.com/css/reigo");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chonburi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap");
@import url("https://fonts.cdnfonts.com/css/reigo");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chonburi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap");
@import url("https://fonts.cdnfonts.com/css/reigo");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chonburi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap");
@import url("https://fonts.cdnfonts.com/css/reigo");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chonburi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap");
@import url("https://fonts.cdnfonts.com/css/reigo");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chonburi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap");
@import url("https://fonts.cdnfonts.com/css/reigo");
.l-m {
  color: #9b57cd;
}

.l-v {
  color: #a8be5b;
}

/*Colores*/
/*Tipos de letra*/
.l-m {
  color: #9b57cd;
}

.l-v {
  color: #a8be5b;
}

@keyframes preloader {
  100% {
    transform: scale(2);
  }
}
@keyframes preloader {
  100% {
    transform: scale(2);
  }
}
/*@keyframes btn_fullscreen {
    0% {
        transform: rotate(none) scale(1);
    }
    50% {
        transform: rotate(50deg) scale(1.1);
        background-color: $Blanco;
    }
    100% {
        transform: rotate(none) scale(1);
    }
}*/
/*@keyframes btn-modal {
    0% {
        transform: translate(0, -100vh);
    }
    50% {
        transform: translate(0, 3vh);
    }
    100% {
        transform:translate(0, 0vh);
    }
}*/
/*@keyframes logo_palpitar {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1); 
    }
}*/
/*@keyframes iz {
    0% {
        transform: translateX(-100vw);
    }
    50% {
        transform: translateX(2vw);
    }
    100% {
        transform: translateX(0);
    }
}*/
@keyframes exito {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes form {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes modal1 {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes modal1r {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes btn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes glob1 {
  0% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(5%);
  }
}
@keyframes glob2 {
  0% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(-5%);
  }
}
@keyframes globm1 {
  0% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(2%);
  }
}
@keyframes globm2 {
  0% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(-2%);
  }
}
@keyframes reolad {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#loader {
  background-color: #d8d8d8;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 100000;
}
#loader .loader__element {
  border-radius: 100%;
  border: 5px solid #5c3168;
  margin: 10px;
}
#loader .loader__element:nth-child(1) {
  animation: preloader 0.6s ease-in-out alternate infinite;
}
#loader .loader__element:nth-child(2) {
  animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
}
#loader .loader__element:nth-child(3) {
  animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
}

/*Colores*/
/*Tipos de letra*/
.l-m {
  color: #9b57cd;
}

.l-v {
  color: #a8be5b;
}

@keyframes preloader {
  100% {
    transform: scale(2);
  }
}
@keyframes preloader {
  100% {
    transform: scale(2);
  }
}
/*@keyframes btn_fullscreen {
    0% {
        transform: rotate(none) scale(1);
    }
    50% {
        transform: rotate(50deg) scale(1.1);
        background-color: $Blanco;
    }
    100% {
        transform: rotate(none) scale(1);
    }
}*/
/*@keyframes btn-modal {
    0% {
        transform: translate(0, -100vh);
    }
    50% {
        transform: translate(0, 3vh);
    }
    100% {
        transform:translate(0, 0vh);
    }
}*/
/*@keyframes logo_palpitar {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1); 
    }
}*/
/*@keyframes iz {
    0% {
        transform: translateX(-100vw);
    }
    50% {
        transform: translateX(2vw);
    }
    100% {
        transform: translateX(0);
    }
}*/
@keyframes exito {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes form {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes modal1 {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes modal1r {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes btn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes glob1 {
  0% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(5%);
  }
}
@keyframes glob2 {
  0% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(-5%);
  }
}
@keyframes globm1 {
  0% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(2%);
  }
}
@keyframes globm2 {
  0% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(-2%);
  }
}
@keyframes reolad {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
html {
  --color-white: #ffffff;
  --color-black: #191919;
  --color-bg: linear-gradient(120deg, #723185 0%, #723185 100%);
  --color-a: linear-gradient(45deg, #7f0019 0%, #7f0019 100%);
  box-sizing: border-box;
}

.c-cursor {
  --size: 15px;
  position: fixed;
  width: var(--size);
  height: var(--size);
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  transform: translate(var(--cursor-x, -100px), var(--cursor-y, -100px)) translateZ(0);
  pointer-events: none;
  transition: none;
  z-index: 15000;
  will-change: transform;
}
.is-debug .c-cursor {
  transition: all 0.2s ease-in-out;
}
.c-cursor__inner {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: var(--color-bg);
  border: 1px solid var(--color-white);
  transition: all 0.15s ease-in-out;
  opacity: 1;
  transform: scale(1) translateZ(0);
}
.c-cursor.is-clicked .c-cursor__inner {
  opacity: 0.5;
}
.c-cursor.is-hidden .c-cursor__inner {
  opacity: 0;
}
.c-cursor.is-link-hovered .c-cursor__inner {
  transform: scale(0.75) translateZ(0);
  background-image: var(--color-a);
}

.has-custom-cursor,
.has-custom-cursor * {
  cursor: none !important;
}

/*Colores*/
/*Tipos de letra*/
.l-m {
  color: #9b57cd;
}

.l-v {
  color: #a8be5b;
}

/*Colores*/
/*Tipos de letra*/
.l-m {
  color: #9b57cd;
}

.l-v {
  color: #a8be5b;
}

#flexed * {
  transition: all 0.5s;
}
#flexed #particles-js {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 0;
}
#flexed #btn-modalop {
  width: 100vw;
  height: 0vh;
  z-index: 150;
  display: flex;
  position: fixed;
  justify-content: start;
}
#flexed #btn-modalop div {
  width: 6.5rem;
  height: 2rem;
  margin: 1.5%;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
#flexed #btn-modalop div label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5c3168;
}
#flexed #btn-modalop div label ion-icon {
  font-size: 350%;
}
#flexed #btn-modalop div label p {
  font-size: 110%;
}
#flexed #btn-modalop div label:hover {
  color: #7f0019;
}
#flexed #btn-modalop.abajo2 {
  width: 100vw;
  height: 0vh;
  padding: 0;
  margin: 0;
}
#flexed #btn-modalop.abajo2 div {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0;
  margin: 1.5%;
  border-radius: 100%;
}
#flexed #btn-modalop.abajo2 div label p {
  font-size: 0;
}
#flexed #nav {
  z-index: 999;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
#flexed #nav #slogan {
  padding: 0;
  background-color: #5c3168;
  display: flex;
  justify-content: center;
}
#flexed #nav #slogan p {
  padding: 0.5%;
  margin: 0%;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-size: 70%;
  letter-spacing: 0.3em;
}
#flexed #nav #slogan.abajo1 {
  background-color: rgba(0, 0, 0, 0.719);
}
#flexed #nav #slogan.abajo1 p {
  padding: 0;
  margin: 0;
  font-size: 0;
}
#flexed #nav #navbarNav {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}
#flexed #nav #navbarNav #barra {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5%;
  background-color: #ffffff;
}
#flexed #nav #navbarNav #barra ul {
  padding: 0;
}
#flexed #nav #navbarNav #barra ul li {
  padding: 0;
  list-style: none;
}
#flexed #nav #navbarNav #barra ul li a {
  text-decoration: none;
  color: #5c3168;
  font-family: "Quicksand", sans-serif;
  font-size: 100%;
  font-weight: 300;
}
#flexed #nav #navbarNav #barra ul li a:hover {
  color: #7f0019;
}

@media screen and (max-width: 500px) {
  #flexed #btn-modalop {
    justify-content: end;
  }
  #flexed #btn-modalop div {
    width: 5rem;
    height: 1rem;
    margin: 3%;
    border-radius: 1rem;
  }
  #flexed #btn-modalop div label ion-icon {
    font-size: 250%;
  }
  #flexed #btn-modalop div label p {
    font-size: 80%;
  }
  #flexed #btn-modalop.abajo2 {
    width: 100vw;
    height: 0vh;
    padding: 0;
    margin: 0;
  }
  #flexed #btn-modalop.abajo2 div {
    width: 3rem;
    height: 3rem;
    padding: 0;
    margin: 2.5%;
    border-radius: 100%;
  }
  #flexed #btn-modalop.abajo2 div label p {
    font-size: 0;
  }
  #flexed #nav #slogan p {
    font-size: 65%;
  }
  #flexed #nav #navbarNav #barra {
    width: 95%;
  }
  #flexed #nav #navbarNav #barra ul {
    width: 19%;
    padding: 0;
    margin: 1%;
    text-align: center;
  }
  #flexed #nav #navbarNav #barra ul li {
    text-align: center;
  }
  #flexed #nav #navbarNav #barra ul li a {
    text-align: center;
    font-size: 70%;
    font-weight: 550;
  }
  #flexed #nav #slogan.abajo {
    margin-bottom: 0;
  }
}
/*Colores*/
/*Tipos de letra*/
.l-m {
  color: #9b57cd;
}

.l-v {
  color: #a8be5b;
}

@keyframes preloader {
  100% {
    transform: scale(2);
  }
}
@keyframes preloader {
  100% {
    transform: scale(2);
  }
}
/*@keyframes btn_fullscreen {
    0% {
        transform: rotate(none) scale(1);
    }
    50% {
        transform: rotate(50deg) scale(1.1);
        background-color: $Blanco;
    }
    100% {
        transform: rotate(none) scale(1);
    }
}*/
/*@keyframes btn-modal {
    0% {
        transform: translate(0, -100vh);
    }
    50% {
        transform: translate(0, 3vh);
    }
    100% {
        transform:translate(0, 0vh);
    }
}*/
/*@keyframes logo_palpitar {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1); 
    }
}*/
/*@keyframes iz {
    0% {
        transform: translateX(-100vw);
    }
    50% {
        transform: translateX(2vw);
    }
    100% {
        transform: translateX(0);
    }
}*/
@keyframes exito {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes form {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes modal1 {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes modal1r {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes btn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes glob1 {
  0% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(5%);
  }
}
@keyframes glob2 {
  0% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(-5%);
  }
}
@keyframes globm1 {
  0% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(2%);
  }
}
@keyframes globm2 {
  0% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(-2%);
  }
}
@keyframes reolad {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#btn-modal {
  display: none;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transition-behavior: display 0.5s ease allow-discrete;
}
#btn-modal .btn-close {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transition-behavior: display 0.5s ease allow-discrete;
}
#btn-modal .infmodcont {
  transform: none;
  transition: all 0.4s ease-in-out;
  transition-behavior: display 0.4s ease allow-discrete;
}

#btn-modal:checked ~ .modals {
  display: flex;
}

.modals {
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.719);
  animation: btn 0.9s ease-in-out;
}
.modals .btn-close {
  display: flex;
  position: fixed;
  justify-content: start;
  align-items: start;
  z-index: 1000;
  animation: btn 0.9s ease-in-out;
}
.modals .btn-close div {
  width: 8.5rem;
  height: 4rem;
  margin: 1.5% 1.5%;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.modals .btn-close div label {
  width: 100%;
  height: 100%;
  font-size: 350%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5c3168;
  font-family: "Quicksand", sans-serif;
  transition: all 0.5s;
}
.modals .btn-close div label:hover {
  color: #7f0019;
}
.modals .btn-close.abajo3 {
  width: 100vw;
  height: 0vh;
  padding: 0;
  margin: 0;
}
.modals .btn-close.abajo3 div {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0;
  margin: 1.5%;
  border-radius: 100%;
}
.modals .infmodcont,
.modals div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: modal1 1s ease-in-out;
}
.modals .infmodcont .cont-infom,
.modals div .cont-infom {
  width: 30%;
  height: 50%;
  border-radius: 1rem;
  background-color: #ffffff;
}
.modals .infmodcont .cont-infom #info-modal,
.modals div .cont-infom #info-modal {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.modals .infmodcont .cont-infom #info-modal .formuario,
.modals div .cont-infom #info-modal .formuario {
  width: 100%;
  height: 100%;
  padding: 5%;
  display: none;
  font-family: "Quicksand", sans-serif;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1001;
}
.modals .infmodcont .cont-infom #info-modal .formuario .input-field,
.modals div .cont-infom #info-modal .formuario .input-field {
  position: relative;
  margin-bottom: 6%;
  width: 80%;
  height: 3.5rem;
}
.modals .infmodcont .cont-infom #info-modal .formuario .input-field input::-webkit-inner-spin-button,
.modals .infmodcont .cont-infom #info-modal .formuario .input-field input::-webkit-outer-spin-button,
.modals div .cont-infom #info-modal .formuario .input-field input::-webkit-inner-spin-button,
.modals div .cont-infom #info-modal .formuario .input-field input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.modals .infmodcont .cont-infom #info-modal .formuario .input-field input[type=number],
.modals div .cont-infom #info-modal .formuario .input-field input[type=number] {
  -moz-appearance: textfield;
}
.modals .infmodcont .cont-infom #info-modal .formuario .input-field h3,
.modals div .cont-infom #info-modal .formuario .input-field h3 {
  margin: 3%;
  color: #5c3168;
  font-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modals .infmodcont .cont-infom #info-modal .formuario .input-field ul,
.modals div .cont-infom #info-modal .formuario .input-field ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 1%;
  padding: 0;
}
.modals .infmodcont .cont-infom #info-modal .formuario .input-field ul li,
.modals div .cont-infom #info-modal .formuario .input-field ul li {
  display: inline;
  color: #5c3168;
  font-family: "Quicksand", sans-serif;
  font-size: 110%;
}
.modals .infmodcont .cont-infom #info-modal .formuario .input-field input,
.modals div .cont-infom #info-modal .formuario .input-field input {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  font-size: 17px;
  padding: 0px 10px;
  border: 2px solid #5c3168;
  background: transparent;
  color: #5c3168;
  outline: none;
  text-align: center;
}
.modals .infmodcont .cont-infom #info-modal .formuario .input-field input:focus,
.modals div .cont-infom #info-modal .formuario .input-field input:focus {
  border: 2px solid #7f0019;
}
.modals .infmodcont .cont-infom #info-modal .formuario .input-field input:focus ~ label,
.modals .infmodcont .cont-infom #info-modal .formuario .input-field input:valid ~ label,
.modals div .cont-infom #info-modal .formuario .input-field input:focus ~ label,
.modals div .cont-infom #info-modal .formuario .input-field input:valid ~ label {
  top: 0;
  font-size: 15px;
  padding: 0 6px;
  background: #ffffff;
}
.modals .infmodcont .cont-infom #info-modal .formuario .input-field label,
.modals div .cont-infom #info-modal .formuario .input-field label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #5c3168;
  font-size: 17px;
  pointer-events: none;
  transition: 0.3s;
}
.modals .infmodcont .cont-infom #info-modal .formuario .input-field label span,
.modals div .cont-infom #info-modal .formuario .input-field label span {
  margin-left: 3px;
}
.modals .infmodcont .cont-infom #info-modal .formuario .input-submit,
.modals div .cont-infom #info-modal .formuario .input-submit {
  height: 15%;
  width: 80%;
  text-align: center;
}
.modals .infmodcont .cont-infom #info-modal .formuario .input-submit .minimal-button,
.modals div .cont-infom #info-modal .formuario .input-submit .minimal-button {
  background-color: transparent;
  border: 2px solid #5c3168;
  color: #5c3168;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.modals .infmodcont .cont-infom #info-modal .formuario .input-submit .minimal-button:hover,
.modals div .cont-infom #info-modal .formuario .input-submit .minimal-button:hover {
  background-color: #7f0019;
  border: 2px solid #7f0019;
  color: white;
  box-shadow: 0px 0px 10px 0px rgb(127, 0, 25);
}
.modals .infmodcont .cont-infom #info-modal .formuario .input-submit .minimal-button:focus,
.modals div .cont-infom #info-modal .formuario .input-submit .minimal-button:focus {
  background-color: #7f0019;
  border: 2px solid #7f0019;
  color: white;
  box-shadow: 0px 0px 10px 0px rgb(127, 0, 25);
}
.modals .infmodcont .cont-infom #info-modal .formuario.activof,
.modals div .cont-infom #info-modal .formuario.activof {
  display: flex;
}
.modals .infmodcont .cont-infom #info-modal .formuario.animacion,
.modals div .cont-infom #info-modal .formuario.animacion {
  animation: form 0.8s ease-in-out;
  animation-fill-mode: forwards;
}
.modals .infmodcont .cont-infom #info-modal .exito,
.modals div .cont-infom #info-modal .exito {
  width: 100%;
  height: 100%;
  padding: 5%;
  display: none;
  font-family: "Quicksand", sans-serif;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1001;
  animation: exito 0.8s ease-in-out;
}
.modals .infmodcont .cont-infom #info-modal .exito #icon,
.modals div .cont-infom #info-modal .exito #icon {
  font-size: 1000%;
  color: #5c3168;
  text-align: center;
}
.modals .infmodcont .cont-infom #info-modal .exito h1,
.modals .infmodcont .cont-infom #info-modal .exito h3,
.modals div .cont-infom #info-modal .exito h1,
.modals div .cont-infom #info-modal .exito h3 {
  width: 100%;
  text-align: center;
  font-size: 100%;
  color: #5c3168;
}
.modals .infmodcont .cont-infom #info-modal .exito.activof,
.modals div .cont-infom #info-modal .exito.activof {
  display: flex;
}

@media screen and (max-width: 500px) {
  .modals .btn-close {
    align-items: end;
  }
  .modals .btn-close div {
    width: 7rem;
    height: 3rem;
    margin: 3%;
    border-radius: 1rem;
  }
  .modals .btn-close div label {
    font-size: 350%;
  }
  .modals .btn-close.abajo3 {
    width: 100vw;
    height: 0vh;
    padding: 0;
    margin: 0;
  }
  .modals .btn-close.abajo3 div {
    width: 3rem;
    height: 3rem;
    padding: 0;
    margin: 2.5%;
    border-radius: 100%;
  }
  .modals .infmodcont .cont-infom {
    width: 90%;
    height: 50%;
  }
}
* {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #d8d8d8;
}

body {
  transition: all 0.5s;
  overflow-x: hidden;
  background-color: #d8d8d8;
}
body .pags {
  width: 100vw;
  height: 100vh;
  display: flex;
}
body #pag1 {
  display: flex;
}
body #pag1 main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
body #pag1 main .globs {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
body #pag1 main #gob1 {
  z-index: 106;
  background-image: url(../img/2.1-columna-1.png);
  animation: glob1 10s ease-in-out alternate infinite;
}
body #pag1 main #gob2 {
  z-index: 107;
  background-image: url(../img/2.1-columna-2.png);
  animation: glob2 10s ease-in-out alternate infinite;
}
body #pag1 main #titulo {
  width: 100%;
  display: flex;
  color: #7f0019;
  position: absolute;
  flex-direction: column;
  font-size: 120%;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}
body #pag1 main #titulo h1, body #pag1 main #titulo h2 {
  margin: 0;
  padding: 0.5%;
}
body #pag2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #pag2 #boxmapicon {
  width: 4rem;
  height: 4rem;
  z-index: 100;
  margin: 1%;
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
body #pag2 #boxmapicon a {
  width: 90%;
  height: 90%;
  display: flex;
  font-size: 100%;
  color: #5c3168;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
body #pag2 #boxmapicon a ion-icon {
  width: 100%;
  height: 100%;
}
body #pag2 #boxmap {
  width: 30rem;
  height: 30rem;
  z-index: 101;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 2rem;
  margin: 0;
  padding: 0;
}
body #pag2 #boxmap div {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  justify-items: center;
}
body #pag2 #boxmap iframe {
  width: 95%;
  height: 95%;
  border-radius: 1.5rem;
}
body #pag3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #pag3 #contador {
  width: 80vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 111;
}
body #pag3 #contador .simply-section {
  width: 20rem;
  height: 13rem;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 1rem;
}
body #pag3 #contador .simply-section div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #pag3 #contador .simply-section div .simply-amount {
  font-size: 150%;
  margin: 1.5%;
  color: #7f0019;
  font-family: "Arima", system-ui;
  font-weight: 550;
}
body #pag3 #contador .simply-section div .simply-word {
  font-size: 150%;
  margin: 1.5%;
  color: #7f0019;
  font-family: "Arima", system-ui;
  font-weight: 550;
}
body #pag3 #fecha {
  width: 9vw;
  height: 6vh;
  z-index: 103;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem;
  margin-top: 3%;
}
body #pag3 #fecha a {
  text-decoration: none;
  font-size: 130%;
  color: #7f0019;
  font-family: "Arima", system-ui;
  font-weight: 550;
}
body #pag4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #pag4 #paleta {
  width: 23rem;
  height: 23rem;
  z-index: 110;
  background-color: #ffffff;
  background-image: url(../img/Colorimetria.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  border-radius: 100%;
  padding: 1%;
  margin: 1%;
}
body #pag4 #estilo {
  z-index: 104;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 15rem;
  height: 5rem;
  border-radius: 1rem;
  margin: 1%;
}
body #pag4 #estilo ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
body #pag4 #estilo ul li {
  margin: 10%;
  color: #7f0019;
  font-family: "Arima", system-ui;
}
body #pag4 #estilo ul li a {
  color: #7f0019;
  font-family: "Arima", system-ui;
  text-decoration: none;
}
body #pag5 {
  display: flex;
  justify-content: center;
  align-items: center;
}
body #pag5 #carrusel {
  width: 97%;
  height: 80%;
  z-index: 105;
  display: flex;
  overflow-x: scroll;
}
body #database {
  background-color: #d8d8d8;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #database #NF {
  width: 45rem;
  max-height: 50%;
  overflow-y: scroll;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 50px 20px rgb(255, 255, 255);
}
body #database #NF thead, body #database #NF #data {
  background-color: #5c3168;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body #database #NF thead tr, body #database #NF #data tr {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
body #database #NF thead tr th, body #database #NF thead tr td, body #database #NF #data tr th, body #database #NF #data tr td {
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid;
  border-color: #ffffff;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  width: 33%;
}
body #database #NF thead tr th .icons, body #database #NF thead tr td .icons, body #database #NF #data tr th .icons, body #database #NF #data tr td .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 110%;
}
body #database #NF thead tr th span, body #database #NF thead tr td span, body #database #NF #data tr th span, body #database #NF #data tr td span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
body #database #total {
  width: 22.5rem;
  height: 2.5rem;
  margin-top: 2%;
  overflow: hidden;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 50px 20px rgb(255, 255, 255);
}
body #database #total #datat {
  width: 30%;
}
body #database #total thead {
  width: 70%;
}
body #database #total thead, body #database #total #datat {
  background-color: #5c3168;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 3px solid;
  border-color: #ffffff;
}
body #database #total thead tr, body #database #total #datat tr {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
body #database #total thead tr th, body #database #total thead tr td, body #database #total #datat tr th, body #database #total #datat tr td {
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  width: 90%;
}
body #database #total thead tr th .icons, body #database #total thead tr td .icons, body #database #total #datat tr th .icons, body #database #total #datat tr td .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120%;
}
body #database #total thead tr th span, body #database #total thead tr td span, body #database #total #datat tr th span, body #database #total #datat tr td span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90%;
  margin-left: 5px;
}
body #database #reload {
  width: 2rem;
  height: 2rem;
  margin-top: 2%;
  z-index: 101;
  border-radius: 100%;
  background-color: #5c3168;
  animation: reolad 5s ease-in-out infinite;
}
body #database #reload a {
  width: 90%;
  height: 90%;
  font-size: 200%;
  color: #ffffff;
}
body #link {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d8d8d8;
}
body #link .links {
  width: 20rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  border-radius: 100%;
  background-color: #5c3168;
}
body #link .links a {
  width: 100%;
  height: 100%;
  font-size: 650%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 5%;
}
body #Login {
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}
body #Login .Logincont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: modal1 1s ease-in-out;
  animation-delay: 1s;
}
body #Login .Logincont .Login-cont {
  width: 30rem;
  height: 30rem;
  border-radius: 1rem;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #Login .Logincont .Login-cont #Login-son {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
body #Login .Logincont .Login-cont #Login-son .formuariolog {
  width: 100%;
  height: 100%;
  padding: 5%;
  display: none;
  font-family: "Quicksand", sans-serif;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1001;
}
body #Login .Logincont .Login-cont #Login-son .formuariolog .wel {
  flex-direction: column;
  text-align: center;
  margin: 5%;
}
body #Login .Logincont .Login-cont #Login-son .formuariolog .wel h3 {
  margin: 3%;
  color: #5c3168;
  font-size: 180%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #Login .Logincont .Login-cont #Login-son .formuariolog .wel h3 span {
  color: #5c3168;
}
body #Login .Logincont .Login-cont #Login-son .formuariolog .wel p {
  width: 100%;
  margin: 3%;
  color: #5c3168;
  font-size: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #Login .Logincont .Login-cont #Login-son .formuariolog .wel p span {
  color: #5c3168;
}
body #Login .Logincont .Login-cont #Login-son .formuariolog .input-field {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6%;
  width: 80%;
  height: 3.5rem;
}
body #Login .Logincont .Login-cont #Login-son .formuariolog .input-field input::-webkit-inner-spin-button,
body #Login .Logincont .Login-cont #Login-son .formuariolog .input-field input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
body #Login .Logincont .Login-cont #Login-son .formuariolog .input-field input[type=number] {
  -moz-appearance: textfield;
}
body #Login .Logincont .Login-cont #Login-son .formuariolog .input-field input {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  font-size: 17px;
  padding: 0px 10px;
  border: 2px solid #5c3168;
  background: transparent;
  color: #5c3168;
  outline: none;
  text-align: center;
}
body #Login .Logincont .Login-cont #Login-son .formuariolog .input-field input:focus {
  border: 2px solid #7f0019;
}
body #Login .Logincont .Login-cont #Login-son .formuariolog .input-field input:focus ~ label,
body #Login .Logincont .Login-cont #Login-son .formuariolog .input-field input:valid ~ label {
  top: 0;
  font-size: 15px;
  padding: 0 6px;
  background: #ffffff;
}
body #Login .Logincont .Login-cont #Login-son .formuariolog .input-field label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #5c3168;
  font-size: 17px;
  pointer-events: none;
  transition: 0.3s;
}
body #Login .Logincont .Login-cont #Login-son .formuariolog .input-field label span {
  margin-left: 3px;
}
body #Login .Logincont .Login-cont #Login-son .formuariolog .input-submit {
  height: 15%;
  width: 80%;
  text-align: center;
}
body #Login .Logincont .Login-cont #Login-son .formuariolog .input-submit .minimal-button {
  background-color: transparent;
  border: 2px solid #5c3168;
  color: #5c3168;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
body #Login .Logincont .Login-cont #Login-son .formuariolog .input-submit .minimal-button:hover {
  background-color: #7f0019;
  border: 2px solid #7f0019;
  color: white;
  box-shadow: 0px 0px 10px 0px rgb(127, 0, 25);
}
body #Login .Logincont .Login-cont #Login-son .formuariolog .input-submit .minimal-button:focus {
  background-color: #7f0019;
  border: 2px solid #7f0019;
  color: white;
  box-shadow: 0px 0px 10px 0px rgb(127, 0, 25);
}
body #Login .Logincont .Login-cont #Login-son .formuariolog.activolog {
  display: flex;
}
body #Login .Logincont .Login-cont #Login-son .formuariolog.animacionlog {
  animation: form 0.8s ease-in-out;
  animation-fill-mode: forwards;
}
body #Login .Logincont .Login-cont #Login-son .error {
  width: 100%;
  height: 100%;
  padding: 5%;
  display: none;
  font-family: "Quicksand", sans-serif;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1001;
  animation: exito 0.8s ease-in-out;
}
body #Login .Logincont .Login-cont #Login-son .error #icon {
  font-size: 1100%;
  color: #5c3168;
  text-align: center;
}
body #Login .Logincont .Login-cont #Login-son .error h1,
body #Login .Logincont .Login-cont #Login-son .error h3 {
  width: 100%;
  text-align: center;
  font-size: 100%;
  color: #5c3168;
}
body #Login .Logincont .Login-cont #Login-son .error.activolog {
  display: flex;
}
body #Login .Logincont.animacionlogr {
  animation: modal1r 1s ease-in-out;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 500px) {
  body #pag1 main #gob1 {
    animation: globm1 7s ease-in-out alternate infinite;
    background-image: url(../img/2-columna-1.png);
  }
  body #pag1 main #gob2 {
    animation: globm2 7s ease-in-out alternate infinite;
    background-image: url(../img/2-columna-2.png);
  }
  body #pag1 main #titulo {
    font-size: 70%;
  }
  body #pag2 #boxmapicon {
    width: 3rem;
    height: 3rem;
    margin: 3%;
  }
  body #pag2 #boxmap {
    width: 80%;
    height: 35%;
  }
  body #pag3 #contador {
    width: 95vw;
    height: 10vh;
  }
  body #pag3 #contador .simply-section {
    width: 25%;
    height: 100%;
    margin: 1%;
  }
  body #pag3 #contador .simply-section div .simply-amount {
    font-size: 100%;
    margin: 1%;
  }
  body #pag3 #contador .simply-section div .simply-word {
    font-size: 100%;
    margin: 1%;
  }
  body #pag3 #fecha {
    width: 20vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 1rem;
    margin-top: 5%;
  }
  body #pag3 #fecha a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7f0019;
    font-family: "Arima", system-ui;
    font-size: 80%;
    font-weight: 550;
  }
  body #pag4 #paleta {
    width: 17rem;
    height: 17rem;
  }
  body #pag4 #estilo {
    width: 13rem;
    height: 4rem;
  }
  body #pag4 #estilo ul li {
    margin: 5%;
  }
  body #pag5 #carrusel {
    width: 95%;
    height: 60%;
  }
  body #database #NF {
    width: 98%;
    max-height: 50%;
  }
  body #database #NF thead tr th, body #database #NF thead tr td, body #database #NF #data tr th, body #database #NF #data tr td {
    border: 1px solid;
    font-size: 75%;
  }
  body #database #total {
    width: 50%;
    height: 3%;
    margin-top: 5%;
  }
  body #database #total thead, body #database #total #datat {
    border: 1px solid;
    border-color: #ffffff;
  }
  body #database #total thead tr th, body #database #total thead tr td, body #database #total #datat tr th, body #database #total #datat tr td {
    width: 70%;
  }
  body #database #total thead tr th .icons, body #database #total thead tr td .icons, body #database #total #datat tr th .icons, body #database #total #datat tr td .icons {
    font-size: 120%;
  }
  body #database #total thead tr th span, body #database #total thead tr td span, body #database #total #datat tr th span, body #database #total #datat tr td span {
    font-size: 60%;
    margin-left: 0px;
  }
  body #database #reload {
    width: 2rem;
    height: 2rem;
    margin-top: 5%;
    border-radius: 100%;
    background-color: #5c3168;
  }
  body #database #reload a {
    width: 90%;
    height: 90%;
    font-size: 200%;
    color: #ffffff;
  }
  body #link {
    flex-direction: column;
  }
  body #link .links {
    width: 10rem;
    height: 10rem;
    display: flex;
    margin: 5%;
  }
  body #link .links a {
    font-size: 400%;
  }
  body #Login .Logincont .Login-cont {
    width: 90%;
    height: 50%;
    min-height: 25rem;
  }
}/*# sourceMappingURL=style.css.map */