@import "variables";
#flexed {
    *{
        transition: all 0.5s;
    }
    //modal
    .boton-modal {
        width: 100vw;
        height: 100vh;
        display: flex;
        position: fixed;
        justify-content: end;
        div {
            width: 5.5rem;
            height: 1rem;
            margin: 1.5%;
            padding: 1rem;
            border-radius: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $Secundario;
            label {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $Secundario3;
                ion-icon {
                    font-size: 350%;
                }
                p {
                    font-size: 90%;
                }
            }
        }
    }
    #nav {
        z-index: 999;
        text-align:center;
        position: fixed;
        bottom:0;
        left:0;
        width:100%;
        #slogan {
            padding: 0;
            background-color: $Secundario3;
            display: flex;
            justify-content: center;
            p {
                padding: 0.5%;
                margin: 0%;
                color: $Blanco2;
                font-family: $letra2;
                font-size: 70%;
                letter-spacing: 0.3em;
            }
        }
        #navbarNav {
            width: 100%;
            height: 100%;
            background-color: $Secundario;
            display: flex;
            justify-content: center;
            #barra {
                width: 90%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 0.5%;
                background-color: $Secundario;
                ul {
                    padding: 0;
                    li {
                        padding: 0;
                        list-style: none;
                        a {
                            text-decoration: none;
                            color: $Negro2;
                            font-family: $letra2;
                            font-size: 100%; 
                            font-weight: 300;
                        }
                    }
                }
            }
        }
        #slogan.abajo {
             background-color: $Transparente;
             p {
                 padding: 0;
                 margin: 0;
                 font-size: 0;
             }
        }
    }
}
@media screen and (max-width: 500px) {
#flexed {
    #nav {
        #slogan {
            margin-bottom: 1vh;
            p {
                font-size: 60%;
            }
        }
        #navbarNav {
            #barra {
                width: 95%;
                ul {
                    li {
                        a {
                            font-size: 70%; 
                            font-weight: 550;
                        }
                    }
                }
            }
        }
        #slogan.abajo {
            margin-bottom: 0;
        }
    }
}
}