@import "carga";
@import "cursor";
@import "variables";
@import "navbarNav";
@import "modals";
*{
    scroll-behavior:smooth;
}
::-webkit-scrollbar {
    width: 1rem;
}
::-webkit-scrollbar-track {
    background: $Secundario;
}
::-webkit-scrollbar-thumb {
    background: $Primario;
}
body{
    overflow-x: hidden;
    background-color: $Primario;
    .pags {
        width: 100vw;
        height: 100vh;
        display: flex;
    }
    #pag1 {
        display: flex;
        main {
            width: 100%;
            height: 100%;
            background-image: url(../img/2.1.png);
            background-size: cover;
            background-position: center top;
            background-repeat: no-repeat;
            font-size: 120%;
            font-family: "Playfair Display", serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: italic;
            flex-direction: column;
            display: flex;
            justify-content: center;
            justify-items: center;
            color: $Secundario4;
            text-align: center;
            h1, h2 {
                margin: 0;
                padding: 0.5%;
            }
        }
    }
    #pag2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #boxmapicon {
            width: 4rem;
            height: 4rem;
            margin: 1%;
            display: flex;
            background-color: $Secundario;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            a {
                width: 90%;
                height: 90%;
                display: flex;
                font-size: 100%;
                color: $Secundario3;
                text-decoration: none;
                justify-content: center;
                align-items: center;
                ion-icon {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        #boxmap {
            width: 30%;
            height: 55%;
            padding: 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $Secundario;
            border-radius: 2rem;
            margin: 0;
            padding: 0;
            div {
                width: 100%;
                height: 10%;
                display: flex;
                justify-content: center;
                justify-items: center;
            }
            iframe {
                width: 95%;
                height: 95%;
                border-radius: 1.5rem;
            }
        }
    }
    #pag3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        #contador {
            width: 80vw;
            height: 20vh;
            display: flex;
            justify-content: center;
            align-items: center;
            .simply-section {
                width: 20%;
                height: 100%;
                margin: 5%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color: $Secundario;
                border-radius: 1rem;
                div {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    .simply-amount {
                        font-size: 150%;
                        margin: 1.5%;
                        color: $Secundario4;
                        font-family: $lerea1;
                        font-weight: 550;
                    }
                    .simply-word {
                        font-size: 150%;
                        margin: 1.5%;
                        color: $Secundario4;
                        font-family: $lerea1;
                        font-weight: 550;
                    }
                }
            }
        }
        #fecha {
            width: 9vw;
            height: 6vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $Secundario;
            border-radius: 1rem;
            margin-top: 3%;
            p {
                font-size: 130%;
                color: $Secundario4;
                font-family: $lerea1;
                font-weight: 550;
            }
        }
    }
    #pag4 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        #paleta {
            width: 23rem;
            height: 23rem;
            background-color: $Secundario;
            background-image: url(../img/Colorimetria.png);
            background-size: cover;
            background-position: center top;
            background-repeat: no-repeat;
            border-radius: 100%;
            padding: 1%;
            margin: 1%;
        }
        #estilo {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $Secundario;
            width: 15rem;
            height: 5rem;
            border-radius: 1rem;
            margin: 1%;
            ul {
                display: flex;
                flex-direction: column;
                list-style: none;
                justify-content: center;
                align-items: center;
                padding: 0;
                margin: 0;
                li {
                    margin: 10%;
                    color: $Secundario4;
                    font-family: $lerea1;
                    a {
                        color: $Secundario4;
                        font-family: $lerea1;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    #pag5 {
        display: flex;
        justify-content: center;
        align-items: center;
        #carrusel {
            width: 97%;
            height: 80%;
            display: flex;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
        }
    }

    #database {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        div {
            width: 50rem;
            height: 50rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $Secundario3;
            border-radius: 2rem;
            #data {
                width: 95%;
                height: 95%;
                border-radius: 2rem;
            }
        }
    }
}
@media screen and (max-width: 500px) {
    body{
        #pag1 {
            display: flex;
            main {
                background-image: url(../img/2.png);
                background-size: 100%;
                font-size: 80%;
            }
        }
        #pag2 {
            #boxmapicon {
                width: 3rem;
                height: 3rem;
                margin: 3%;
            }
            #boxmap {
                width: 80%;
                height: 35%;
            }
        }
        #pag3 {
            #contador {
                width: 95vw;
                height: 10vh;
                .simply-section {
                    width: 25%;
                    height: 100%;
                    margin: 1%;
                    div {
                        .simply-amount {
                            font-size: 100%;
                            margin: 1%;
                        }
                        .simply-word {
                            font-size: 100%;
                            margin: 1%;
                        }
                    }
                }
            }
            #fecha {
                width: 20vw;
                height: 5vh;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $Secundario;
                border-radius: 1rem;
                margin-top: 5%;
                p {
                    font-size: 80%;
                    color: $Secundario4;
                    font-family: $lerea1;
                    font-weight: 550;
                }
            }
        }
        #pag4 {
            #paleta {
                width: 17rem;
                height: 17rem;
            }
            #estilo {
                width: 13rem;
                height: 4rem;
                ul {
                    li {
                        margin: 5%;
                    }
                }
            }
        }
        #pag5 {
            #carrusel {
                width: 95%;
                height: 60%;
            }
        }

        #database {
            div {
                width: 90%;
                height: 70%;
                border-radius: 1rem;
                #data {
                    border-radius: 1rem;
                }
            }
        }
    }
}